.header {
	background-color: #090F18;
	height: 25px;
	color: white;
}
.bouton {
	height: 25px;
	background-color: #090F18;
	font-size: 10px;
	color: grey;
	border: solid grey 0.5px;
	padding: 0px;
	padding-top: 5px;
}
a {
	color: white;
}
.black {
	color: black;
}
.bouton2 {
	height: 25px;
	background-color: gold;
	font-size: 10px;
	color: grey;
	border: solid grey 0.5px;
	padding: 0px;
	width: 200px;
}
.section_recherche {
	height: 40px;
	background-color: white;
	border: solid lightgrey 1px;
}
