.header {
	background-color: #090F18;
	height: 25px;
	color: white;
}
.bouton {
	height: 25px;
	background-color: #090F18;
	font-size: 10px;
	color: grey;
	border: solid grey 0.5px;
	padding: 0px;
	padding-top: 5px;
	padding-left: 5px;
}
.link_header {
	color: white;
}
.black {
	color: black;
}
.bouton2 {
	height: 25px;
	background-color: gold;
	font-size: 10px;
	color: grey;
	border: solid grey 0.5px;
	padding: 0px;
	width: 200px;
	padding-top: 5px;
	padding-left: 5px;
}
.section_recherche {
	height: 40px;
	background-color: white;
	border: solid lightgrey 1px;
}
.petit_logo	{
	width: 20px;
	height: 20px;
}
.recherche {
	padding-top: 10px;
}
.link2 {
	color: grey;
}
.bar_de_recherche {
	left: 25px;
	top: 5px	
}
.logo_journal {
	width: 300px;
	height: 100px;
}
.mise_à_jour {
	color: grey;
	padding-top: 5px;
}
.international {
	border-top: solid lightblue;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;	
}
.politique {
	border-top: solid violet;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;	
}
.societe {
	border-top: solid red;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;	
	padding-right: 0px;
}
.eco {
	border-top: solid orange;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;	
}
.culture {
	border-top: solid pink;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;	
}
.idee {
	border-top: solid green;
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;	
}
.alignement {
	padding-top: 10px;
}
.tirer_gauche {
	padding-right: 0px;
	padding-left: 0px;
	border-left: 0px;
	border-right: 0px;
}
.tirer_droite {
	border-right: 0px;
	padding-right: 0px;
}
.edition_abonne {
	background-color: gold;
	border-top: yellow;
}
.titre_jaune {
	padding-left: 0px;
	border-left: 100px;
}
.menu2 {
	background-color: #090F18;
	height: 30px;
	border-right: 100px; 
}
.la_une {
	font-size: 40px;
}
p {
	font-size: 10px;
}
.article_1 {
	font-size: 20px;
}
.titre_rouge {
	background-color: red;
	color: white;
}
.menu_droite {
	padding-top: 50px;
}
.titre_bleu {
	background-color: #5076A8;
	color: white;
	font-size: 20px;
}
.menu_droite_2 {
	padding-top: 20px;
}
.menu_gris{
	border: solid 1px lightgrey;
	background-color: #F0F1F3;
}
.menu_gris_grand{
	padding-bottom: 200px;
	border: solid 1px lightgrey;
	background-color: #F0F1F3;
}
